*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(238, 238, 238, 1);
	min-width: 100%;
	font-family: 'Raleway', sans-serif;
}

.event-cover {
	width: calc(100dvw * 0.85);
	margin: 0 auto;
	margin-top: calc(100dvw * 0.075);
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	img {
		position: relative;
		border-radius: 20px;
		top: 0;
		width: 100%;
		height: auto;
		z-index: 1;
	}

	.info {
		position: relative;
		z-index: 2;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 0 20px;
		font-family: 'Raleway', sans-serif;
		width: 100%;
		margin-top: -70px;

		.info-top {
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;

			@media (max-width: 800px) {
				font-size: 22px;
			}

			@media (max-width: 650px) {
				font-size: 20px;
			}

			@media (max-width: 550px) {
				font-size: 18px;
			}

			@media (max-width: 400px) {
				font-size: 16px;
			}

			@media (max-width: 340px) {
				font-size: 14px;
			}
		}

		.info-bottom {
			display: flex;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			justify-content: space-between;

			@media (max-width: 800px) {
				font-size: 18px;
			}

			@media (max-width: 650px) {
				font-size: 16px;
			}

			@media (max-width: 550px) {
				font-size: 14px;
			}

			@media (max-width: 400px) {
				font-size: 12px;
			}

			@media (max-width: 340px) {
				font-size: 11px;
			}

			div {
				display: flex;
				align-items: center;
				gap: 3px;

				img {
					height: 20px;
					width: auto;
				}
			}
		}
	}
}

.event-title {
	display: flex;
	flex-direction: column;
	margin: 30px calc(100dvw * 0.075);
	margin-top: 40px;
	gap: 10px;

	.title {
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
		font-weight: 800;
		line-height: 28px;

		@media (max-width: 800px) {
			font-size: 32px;
		}

		@media (max-width: 650px) {
			font-size: 28px;
		}

		@media (max-width: 550px) {
			font-size: 24px;
		}

		@media (max-width: 340px) {
			font-size: 20px;
		}
	}

	.event-details-bottom {
		display: flex;
		gap: 10px;

		.organizer {
			font-family: 'Raleway', sans-serif;
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
			color: rgba(129, 129, 129, 1);
			padding: 5px;
			padding-left: 0;

			@media (max-width: 800px) {
				font-size: 18px;
			}

			@media (max-width: 650px) {
				font-size: 16px;
			}

			@media (max-width: 550px) {
				font-size: 14px;
			}
		}

		.days-left {
			padding: 5px 10px;
			border-radius: 99px;

			@media (max-width: 800px) {
				font-size: 18px;
			}

			@media (max-width: 650px) {
				font-size: 16px;
			}

			@media (max-width: 550px) {
				font-size: 14px;
			}
		}

		.green {
			background-color: rgba(85, 211, 53, 0.2);
			border: 1px solid rgb(85, 211, 53);
			color: rgb(85, 211, 53);
		}

		.yellow {
			background-color: rgba(211, 175, 53, 0.2);
			border: 1px solid rgba(211, 175, 53, 1);
			color: rgba(211, 175, 53, 1);
		}

		.red {
			background-color: rgba(211, 53, 53, 0.2);
			border: 1px solid rgba(211, 53, 53, 1);
			color: rgba(211, 53, 53, 1);
		}

		.grey {
			background-color: rgba(128, 128, 128, 0.2);
			border: 1px solid rgba(128, 128, 128, 1);
			color: rgba(128, 128, 128, 1);
		}
	}
}

.event-details {
	display: flex;
	flex-direction: column;
	margin: 30px calc(100dvw * 0.075) 0;

	.tabs {
		display: flex;
		gap: 20px;
		color: rgba(129, 129, 129, 1);
		font-size: 14px;
		margin-bottom: 20px;

		@media (max-width: 800px) {
			font-size: 18px;
			gap: 36px;
		}

		@media (max-width: 650px) {
			font-size: 16px;
			gap: 28px;
		}

		@media (max-width: 550px) {
			font-size: 14px;
			gap: 24px;
		}

		@media (max-width: 400px) {
			gap: 22px;
		}

		.chosen {
			color: rgba(211, 175, 53, 1);
			position: relative;
			margin-top: -3px;

			&::before {
				position: absolute;
				content: '';
				bottom: -3px;
				left: 0;
				right: 0;
				border: 1px solid rgba(211, 175, 53, 1);
			}
		}

		div {
			cursor: pointer;
		}
	}

	.details {
		.about {
			font-size: 13px;
			color: rgba(129, 129, 129, 1);
			line-height: 22px;

			@media (max-width: 800px) {
				font-size: 17px;
			}

			@media (max-width: 650px) {
				font-size: 15px;
			}

			@media (max-width: 550px) {
				font-size: 13px;
			}
		}

		.location {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.contact {
			display: flex;
			gap: 50px;

			.phone {
				display: flex;
				align-items: center;
				gap: 10px;
				font-weight: 600;
				font-size: 13px;
				line-height: 22px;

				@media (max-width: 800px) {
					font-size: 17px;
				}

				@media (max-width: 650px) {
					font-size: 15px;
				}

				@media (max-width: 550px) {
					font-size: 13px;
				}
			}
		}
	}
}

.event-constraints {
	display: flex;
	margin: 30px calc(100dvw * 0.075) 0;
	gap: 15px;

	@media (max-width: 800px) {
		gap: 22px;
	}

	@media (max-width: 650px) {
		gap: 18px;
	}

	@media (max-width: 550px) {
		gap: 15px;
	}

	@media (max-width: 340px) {
		gap: 14px;
	}

	& > div {
		display: flex;
		gap: 5px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;

		@media (max-width: 800px) {
			font-size: 18px;
		}

		@media (max-width: 650px) {
			font-size: 16px;
		}

		@media (max-width: 550px) {
			font-size: 14px;
		}

		@media (max-width: 340px) {
			font-size: 12px;
		}
	}
}

.event-form {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin: 30px calc(100dvw * 0.075) 0;

	.input {
		border: none;
		outline: none;
		height: 48px;
		border-radius: 10px;
		background-color: rgba(238, 238, 238, 1);
		border: solid 2px rgba(220, 220, 220, 1);
		padding: 11px 24px;
	}

	.label {
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
	}

	& > div {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.tickets-container {
		padding: 11px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;

		.ticket-control {
			width: 36px;
			height: 36px;
			background-color: rgba(211, 175, 53, 1);
		}

		.minus {
			position: relative;
			cursor: pointer;
			border-radius: 5px;

			&::before {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				border: 1px solid rgba(238, 238, 238, 1);
			}
		}

		.tickets-count {
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}

		.plus {
			position: relative;
			cursor: pointer;
			border-radius: 5px;

			&::before {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				border: 1px solid rgba(238, 238, 238, 1);
			}

			&::after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 12px;
				border: 1px solid rgba(238, 238, 238, 1);
			}
		}

    .total-price {
      margin-top: 10px;
    }
	}
}

.hidden {
	display: none;
}
