*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(238, 238, 238, 1);
	min-width: 100%;
	font-family: 'Raleway', sans-serif;

	@media (min-width: 900px) {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}

	
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgba(38, 37, 54, 1);
	}
}

.main {
	background-color: rgba(238, 238, 238, 1);

	@media (min-width: 900px) {
		display: flex;
		background-color: white;
		width: 862px;
		height: 590px;
		border-radius: 30px;
	}

	@media (prefers-color-scheme: dark) {
		background: rgba(20, 19, 29, 1);
	}

	.left {
		@media (min-width: 900px) {
			width: 431px;
			height: 623px;
		}

		.event-cover {
			width: calc(100dvw * 0.85);
			margin: 0 auto;
			margin-top: calc(100dvw * 0.075);
			position: relative;
			display: flex;
			align-items: flex-end;
			flex-direction: column;

			@media (min-width: 900px) {
				width: 431px;
				margin: 0;
				align-items: center;
				padding: 28px 0;
			}

			img {
				position: relative;
				border-radius: 20px;
				top: 0;
				width: 100%;
				height: auto;
				z-index: 1;

				@media (min-width: 900px) {
					width: 373px;
					height: 238px;
				}
			}

			.info {
				position: relative;
				z-index: 2;
				color: white;
				display: flex;
				flex-direction: column;
				gap: 16px;
				padding: 0 20px;
				font-family: 'Raleway', sans-serif;
				width: 100%;
				margin-top: -70px;

				@media (min-width: 900px) {
					margin-top: -70px;
					width: 370px;
				}

				.info-top {
					font-weight: 700;
					font-size: 18px;
					line-height: 21px;

					@media (max-width: 900px) {
						font-size: 22px;
					}

					@media (max-width: 650px) {
						font-size: 20px;
					}

					@media (max-width: 550px) {
						font-size: 18px;
					}

					@media (max-width: 400px) {
						font-size: 16px;
					}

					@media (max-width: 340px) {
						font-size: 14px;
					}
				}

				.info-bottom {
					display: flex;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					justify-content: space-between;

					@media (max-width: 900px) {
						font-size: 18px;
					}

					@media (max-width: 650px) {
						font-size: 16px;
					}

					@media (max-width: 550px) {
						font-size: 14px;
					}

					@media (max-width: 400px) {
						font-size: 12px;
					}

					@media (max-width: 340px) {
						font-size: 11px;
					}

					div {
						display: flex;
						align-items: center;
						gap: 3px;

						img {
							height: 20px;
							width: auto;
						}
					}
				}
			}
		}

		.event-title {
			display: flex;
			flex-direction: column;
			margin: 30px calc(100dvw * 0.075);
			margin-top: 40px;
			gap: 10px;

			@media (min-width: 900px) {
				width: 373px;
				margin: 0;
				margin-left: 30px;
			}

			.title {
				font-family: 'Raleway', sans-serif;
				font-size: 24px;
				font-weight: 800;
				line-height: 28px;

				@media (prefers-color-scheme: dark) {
					color: white;
				}

				@media (max-width: 900px) {
					font-size: 32px;
				}

				@media (max-width: 650px) {
					font-size: 28px;
				}

				@media (max-width: 550px) {
					font-size: 24px;
				}

				@media (max-width: 340px) {
					font-size: 20px;
				}
			}

			.event-details-bottom {
				display: flex;
				gap: 10px;

				.organizer {
					font-family: 'Raleway', sans-serif;
					font-size: 14px;
					font-weight: 500;
					line-height: 16px;
					color: rgba(129, 129, 129, 1);
					padding: 5px;
					padding-left: 0;

					@media (prefers-color-scheme: dark) {
						color: rgba(161, 167, 181, 1);
					}

					@media (max-width: 900px) {
						font-size: 18px;
					}

					@media (max-width: 650px) {
						font-size: 16px;
					}

					@media (max-width: 550px) {
						font-size: 14px;
					}
				}

				.days-left {
					padding: 5px 10px;
					border-radius: 99px;

					@media (max-width: 900px) {
						font-size: 18px;
					}

					@media (max-width: 650px) {
						font-size: 16px;
					}

					@media (max-width: 550px) {
						font-size: 14px;
					}
				}

				.green {
					background-color: rgba(85, 211, 53, 0.2);
					border: 1px solid rgb(85, 211, 53);
					color: rgb(85, 211, 53);
				}

				.yellow {
					background-color: rgba(211, 175, 53, 0.2);
					border: 1px solid rgba(211, 175, 53, 1);
					color: rgba(211, 175, 53, 1);
				}

				.red {
					background-color: rgba(211, 53, 53, 0.2);
					border: 1px solid rgba(211, 53, 53, 1);
					color: rgba(211, 53, 53, 1);
				}

				.grey {
					background-color: rgba(128, 128, 128, 0.2);
					border: 1px solid rgba(128, 128, 128, 1);
					color: rgba(128, 128, 128, 1);
				}
			}
		}

		.event-details {
			display: flex;
			flex-direction: column;
			margin: 30px calc(100dvw * 0.075) 0;
			height: 130px;

			@media (min-width: 900px) {
				width: 373px;
				margin: 0;
				margin-left: 30px;
				margin-top: 30px;
			}

			.tabs {
				display: flex;
				gap: 20px;
				color: rgba(129, 129, 129, 1);
				font-size: 14px;
				margin-bottom: 20px;

				@media (prefers-color-scheme: dark) {
					color: rgba(161, 167, 181, 1);
				}

				@media (max-width: 900px) {
					font-size: 18px;
					gap: 36px;
				}

				@media (max-width: 650px) {
					font-size: 16px;
					gap: 28px;
				}

				@media (max-width: 550px) {
					font-size: 14px;
					gap: 24px;
				}

				@media (max-width: 400px) {
					gap: 22px;
				}

				.chosen {
					color: rgba(211, 175, 53, 1);
					position: relative;
					margin-top: -3px;

					&::before {
						position: absolute;
						content: '';
						bottom: -3px;
						left: 0;
						right: 0;
						border: 1px solid rgba(211, 175, 53, 1);
					}
				}

				div {
					cursor: pointer;
				}
			}

			.details {
				.about {
					font-size: 13px;
					color: rgba(129, 129, 129, 1);
					line-height: 22px;

					@media (prefers-color-scheme: dark) {
						color: rgba(161, 167, 181, 1);
					}

					@media (max-width: 900px) {
						font-size: 17px;
					}

					@media (max-width: 650px) {
						font-size: 15px;
					}

					@media (max-width: 550px) {
						font-size: 13px;
					}
				}

				.location {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.contact {
					display: flex;
					gap: 50px;

					@media (prefers-color-scheme: dark) {
						color: rgba(161, 167, 181, 1);

						svg {
							path {
								stroke: rgba(161, 167, 181, 1);
							}
						}
					}

					.phone {
						display: flex;
						align-items: center;
						gap: 10px;
						font-weight: 600;
						font-size: 13px;
						line-height: 22px;

						@media (max-width: 900px) {
							font-size: 17px;
						}

						@media (max-width: 650px) {
							font-size: 15px;
						}

						@media (max-width: 550px) {
							font-size: 13px;
						}
					}
				}
			}
		}

		.event-constraints {
			display: flex;
			margin: 30px calc(100dvw * 0.075) 0;
			gap: 15px;

			@media (prefers-color-scheme: dark) {
				color: rgba(161, 167, 181, 1);
			}

			@media (min-width: 900px) {
				width: 373px;
				margin: 0;
				margin-left: 30px;
				margin-top: 30px;
			}

			@media (max-width: 900px) {
				gap: 22px;
			}

			@media (max-width: 650px) {
				gap: 18px;
			}

			@media (max-width: 550px) {
				gap: 15px;
			}

			@media (max-width: 340px) {
				gap: 14px;
			}

			& > div {
				display: flex;
				gap: 5px;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;

				@media (max-width: 900px) {
					font-size: 18px;
				}

				@media (max-width: 650px) {
					font-size: 16px;
				}

				@media (max-width: 550px) {
					font-size: 14px;
				}

				@media (max-width: 340px) {
					font-size: 12px;
				}
			}
		}
	}

	.right {
		@media (min-width: 900px) {
			width: 431px;
			height: 623px;
		}

		.event-form {
			display: flex;
			flex-direction: column;
			gap: 50px;
			margin: 30px calc(100dvw * 0.075) 0;

			@media (min-width: 900px) {
				width: 373px;
				margin: 0;
				margin-left: 30px;
				margin-top: 30px;
			}

			.input {
				border: none;
				outline: none;
				height: 48px;
				border-radius: 10px;
				background-color: rgba(238, 238, 238, 1);
				border: solid 2px rgba(220, 220, 220, 1);
				padding: 11px 24px;
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;
				color: rgba(100, 100, 123, 1);

				@media (prefers-color-scheme: dark) {
					background-color: rgba(20, 19, 29, 1);
					color: rgba(238, 238, 238, 1);
				}

				@media (min-width: 900px) {
					width: 374px;
				}
			}

			.input-container {
				position: relative;
				color: black;

				@media (prefers-color-scheme: dark) {
					color: white;
				}

				&::before {
					position: absolute;
					content: '+251';
					left: 24px;
					font-size: 16px;
					font-weight: 500;
					line-height: 26px;
					top: 20%;

					width: 20px;
					height: 15px;
				}

				.phone-number-input {
					padding-left: 60px;
				}
			}

			.label {
				font-weight: 700;
				font-size: 16px;
				line-height: 21px;

				@media (prefers-color-scheme: dark) {
					color: white;
				}

				@media (max-width: 900px) {
					font-size: 20px;
				}

				@media (max-width: 650px) {
					font-size: 18px;
				}

				@media (max-width: 550px) {
					font-size: 16px;
				}
			}

			& > div {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			.submit {
				height: 58px;
				background-color: rgba(211, 175, 53, 1);
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-size: 20px;
				line-height: 23px;
				flex-direction: row;
				border-radius: 10px;
				margin-bottom: 50px;
				outline: none;
				border: none;
				cursor: pointer;

				.submit-amount {
					font-weight: 700;
					font-size: 20px;
					line-height: 32px;
				}
			}
		}
	}
}

.hidden {
	display: none;
}

.disable {
	opacity: 0.6;
	cursor: default !important;
}

.words {
	color: green;
}

.label {
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;

	@media (prefers-color-scheme: dark) {
		color: white;
	}

	@media (max-width: 900px) {
		font-size: 20px;
	}

	@media (max-width: 650px) {
		font-size: 18px;
	}

	@media (max-width: 550px) {
		font-size: 16px;
	}
}

.input {
	border: none;
	outline: none;
	height: 48px;
	border-radius: 10px;
	background-color: rgba(238, 238, 238, 1);
	border: solid 2px rgba(220, 220, 220, 1);
	padding: 11px 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	color: rgba(100, 100, 123, 1);

	@media (prefers-color-scheme: dark) {
		background-color: rgba(20, 19, 29, 1);
		border: solid 2px rgb(121, 124, 138) !important;
	}

	@media (min-width: 900px) {
		width: 374px;
	}
}

.input-container {
	position: relative;
	color: black;

	@media (prefers-color-scheme: dark) {
		color: white;
	}

	&::before {
		position: absolute;
		content: '+251';
		left: 24px;
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		top: 20%;

		width: 20px;
		height: 15px;
	}

	.phone-number-input {
		padding-left: 60px;
	}
}

.tickets {
	.tickets-container {
		padding: 11px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;

		.ticket-control {
			width: 36px;
			height: 36px;
			background-color: rgba(211, 175, 53, 1);
		}

		.minus {
			position: relative;
			cursor: pointer;
			border-radius: 5px;

			&::before {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				border: 1px solid rgba(238, 238, 238, 1);
			}
		}

		.tickets-count {
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}

		.plus {
			position: relative;
			cursor: pointer;
			border-radius: 5px;

			&::before {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				border: 1px solid rgba(238, 238, 238, 1);
			}

			&::after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 12px;
				border: 1px solid rgba(238, 238, 238, 1);
			}
		}
	}

	.total-price {
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		color: rgba(129, 129, 129, 1);

		@media (prefers-color-scheme: dark) {
			color: rgba(161, 167, 181, 1);
		}

		.amount {
			font-weight: 700;
			font-size: 20px;
			line-height: 32px;
			color: black;

			@media (prefers-color-scheme: dark) {
				color: rgba(161, 167, 181, 1);
			}
		}
	}
}

.payment-page {
	display: flex;
	flex-direction: column;
	height: 100vh;

	@media (prefers-color-scheme: dark) {
		background-color: rgba(20, 19, 29, 1) !important;
	}

	@media (min-width: 900px) {
		display: flex;
		background-color: white;
		width: min-content;
		height: 590px;
		border-radius: 30px;
	}

	path {
		@media (prefers-color-scheme: dark) {
			stroke: white;
		}
	}
}

.nav {
	margin: 30px calc(100dvw * 0.075) 0;
	display: flex;
	align-items: center;
	gap: 10px;

	@media (min-width: 900px) {
		margin: 40px 40px 20px;
	}

	.svg-container {
		cursor: pointer;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s ease;

		svg {
			margin-left: -3px;
		}

		&:hover {
			background-color: rgba(128, 128, 128, 0.6);
		}
	}
}

.ticket_container {
	margin: 30px calc(100dvw * 0.075) 0;

	@media (min-width: 900px) {
		margin: 20px 40px;
	}
}

.choosePayment {
	margin: 30px calc(100dvw * 0.075) 0;
	margin-top: 150px;

	@media (min-width: 900px) {
		margin: 20px 40px;
	}

	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

#nav-title {
	font-family: 700;
	font-size: 20px;
	line-height: 24px;

	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

.wideGap {
	display: flex;
	flex-direction: column;
	gap: 20px !important;
}

.ticket-label {
	margin-bottom: 30px;
}

.buttons {
	margin-bottom: 10px;
}

.choose {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 40px;
}

.payment {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;

	img {
		width: 58px;
		height: 58px;
		cursor: pointer;
	}
}

.chosenPayment {
	outline: 3px solid rgba(211, 175, 53, 1);
	outline-offset: 5px;
	border-radius: 5px;
}

.payNow {
	margin: 30px calc(100dvw * 0.075) 0;
	margin-top: auto;
	margin-bottom: 80px;
	height: 58px;
	background-color: rgba(211, 175, 53, 1);
	font-size: 22px;
	line-height: 26px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

.fullwidth {
	width: 100% !important;
}

.booking-success {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding: 40px 40px;
	justify-content: space-between;

	@media (min-width: 900px) {
		flex-direction: row;
		width: 862px;
		height: 580px;
		border-radius: 30px;
		background-color: white;
	}

	@media (prefers-color-scheme: dark) {
		background-color: rgba(20, 19, 29, 1);
	}

	.left {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		.texts {
			display: flex;
			flex-direction: column;
			gap: 20px;

			@media (prefers-color-scheme: dark) {
				color: white;
			}

			.event-success {
				font-weight: 700;
				font-size: 32px;
				line-height: 37px;
				text-align: center;
			}

			.please-download {
				font-weight: 500;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
			}
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		.download {
			height: 58px;
			border: solid 2px rgba(211, 175, 53, 1);
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			width: min(100%, 500px);
			border-radius: 10px;
			color: rgba(211, 175, 53, 1);
			transition: color 0.3s ease;
			transition: background-color 0.3s ease;
			cursor: pointer;

			&:hover {
				color: white;
				background-color: rgba(211, 175, 53, 1);
			}
		}
	}
}
